:root {
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none; /* 禁止文本选择以避免拖动时选中文字 */
  -webkit-app-region: drag; /* 使该区域可拖动 */
}

.no-drag {
  -webkit-app-region: no-drag; /* 使该区域不可拖动 */
}

#app {
  height: 100vh;
  width: 100vw;
}
